.card-stack {
  display: inline-block;
  position: relative;
  left: 48%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card-stack .card {
  width: 100%;
  height: auto;
  background-color: #ddd;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0px 0px;
  display: inline-block;
  position: absolute;
  transition: all 1s ease;
  text-align: right;
  // padding: 10px; /* Added padding for inner spacing */
  // box-sizing: border-box; /* Ensures padding does not affect width */
}

.card-stack .card h4 {
  color: #2e1c1d;
  font-size: 16px;
  font-weight: normal;
}

.card1 {
  z-index: 1000;
  left: 0;
  top: 0;
}

.card2 {
  z-index: 800;
  left: 50px;
  // top: 20px;
}

.card3 {
  z-index: 600;
  left: 90px;
  // top: 40px;
}

@keyframes remove {
  0% { transform: translateX(0px); opacity: 1; }
  50% { transform: translateX(-80px); opacity: 0; }
  51% { transform: translateX(10px) scale(0.97); opacity: 0; }
  100% { transform: translateX(0px) scale(0.97); opacity: 1; }
}

@media (max-width: 1200px) {
  .card2 {
    left: 15px;
    // top: 15px;
  }
  .card3 {
    left: 30px;
    // top: 30px;
  }
}

@media (max-width: 992px) {
  .card2 {
    left: 10px;
    // top: 10px;
  }
  .card3 {
    left: 20px;
    // top: 20px;
  }
}

@media (max-width: 768px) {
  .card2 {
    left: 15px;
    // top: 5px;
  }
  .card3 {
    left: 35px;
    // top: 10px;
  }
}

@media (max-width: 576px) {
  .card1, .card2, .card3 {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 20px;
  }
}
