$bg: rgba(0, 0, 0, 0.2);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blurcontainer {
  // width: 85vw;
  margin: 1rem auto;
}

.bg,
.overlay {
  text-align: center;
}

.imgg,
.overlay {
  transition: .4s all;
  border-radius: 2px;
}

.bg {
  float: left;
  max-width: 100%;
  position: relative;
  margin: .5%;
  imgg {
    width: 100%;
    margin-bottom: -44px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $bg;
    color: #060303;
    opacity: 0;
    h2 {
      padding: 20%;
    //   font-family: 'Droid Serif', serif;
    }
    p {
        padding: 35%;
        align-items: center;
        margin-top: 52px;
        //   font-family: 'Julius Sans One', sans-serif;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}

@media screen and (max-width: 1148px) {
  .bg {
    max-width: 148%;
    margin: 1%;
  }
}

@media screen and (max-width: 768px) {
  .bg {
    float: none;
    max-width: 80%;
    margin: 1% auto;
  }
}