/* Main color */
:root {
  --green: #d2ef9a;
  --black: #1f1f1f;
  --secondary: #696c70;
  --secondary2: #a0a0a0;
  --white: #ffffff;
  --surface: #f7f7f7;
  --red: #db4444;
  --purple: #8684d4;
  --success: #3dab25;
  --yellow: #ecb018;
  --pink: #f4407d;
  --line: #e9e9e9;
  --outline: rgba(0, 0, 0, 0.15);
  --surface1: rgba(255, 255, 255, 0.1);
  --surface2: rgba(255, 255, 255, 0.2);
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 26px;
  color: var(--black);
  font-weight: 400;
  overflow-x: hidden;
  user-select: none;
  scroll-behavior: smooth;
}

div,
span,
p {
  font-size: 16px;
  line-height: 26px;
}

select {
  appearance: none;
  outline: none;
}

.select-block {
  position: relative;

  > .arrow-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }
}

input,
textarea {
  outline: none;
  border: 1px solid transparent;
  transition: border-color ease 0.3s;
}

input:focus,
textarea:focus {
  border-color: var(--black);
}

/* Main class used in WHP */
.container {
  max-width: 1322px !important;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.bg-red {
  background-color: var(--red);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-blue {
  background-color: #4856da;
}

.bg-silver {
  background-color: #a1a2af;
}

.bg-linear {
  background: linear-gradient(238deg, #faf8f1 0%, #f6f3ef 99.66%);
}

.box-shadow-small {
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
}

.text-sub-display {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.text-display {
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  text-transform: capitalize;
}

.heading1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 500;
  text-transform: capitalize;
}

.heading2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.heading3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.heading4 {
  font-size: 30px;
  line-height: 42px;
  font-weight: 600;
  text-transform: capitalize;
}

.heading5 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

.heading6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-transform: capitalize;
}
.heading7 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  text-transform: capitalize;
}
.heading8 {
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.heading9 {
  font-size: 5px;
  line-height: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.text-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 650;
  text-transform: capitalize;
}

.body1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.text-button {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-transform: capitalize;
}

.text-button-uppercase {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.caption1 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.caption2 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #ffcccb);
  text-align: center;
  font-family: Arial, sans-serif;
}

.not-found-content {
  padding: 20px;
  background-color: transparent; /* Make the background transparent to remove card effect */
}

.error-code {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px; /* Increase the size of the "4" */
  font-weight: bold;
  color: #333;
}

.error-code span {
  margin: 0; /* Remove margin between the "4"s and the image */
}

.ring-image {
  width: 200px; /* Increase the size of the ring image */
  height: auto;
  margin: 0 -20px; /* Further decrease the margin between the image and the "4"s */
}

.message {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

.sub-message {
  font-size: 16px;
  color: #777;
  margin: 10px 0;
}

.home-link {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #e26178; /* Change to pink */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.left_2 {
}
.enlarge-image-container{
  background-color: #f7f7f7;
}
.left_2 img {
    width: 500px;
    height: 100%;
    object-fit: contain;
}

.home-link:hover {
  background-color: #f13558; /* Darker pink for hover effect */
}

@media (max-width: 600px) {
  .error-code {
      font-size: 70px; /* Adjust the size for smaller screens */
  }

  .ring-image {
      width: 150px; /* Adjust the size for smaller screens */
      margin: 0 -10px; /* Further decrease the margin for smaller screens */
  }
}

.button-main {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
   background-image: linear-gradient(to right, #bb547d, #9b5ba7, #815fc8);
  padding: 16px 40px;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
  transition: all ease 0.4s;

  &:hover {
    background-color:  #a5364b;
    color: var(--white);

    svg {
      path {
        fill: var(--black);
      }
    }
  }

  &.bg-white {
    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }
}

.custom-phone-input {
  border: none;
  border-radius: 4px;
  width: 30%;
}

.custom-phone-input input {
  border: none;
  outline: none;
  font-size: 16px;
}

.custom-phone-input .flag-dropdown {
  border: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (max-width: 1023.99px) {
  .text-sub-display {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.1px;
  }

  .text-display {
    font-size: 42px;
    line-height: 50px;
  }

  .heading1 {
    font-size: 36px;
    line-height: 48px;
  }

  .heading2 {
    font-size: 32px;
    line-height: 40px;
  }

  .heading3 {
    font-size: 30px;
    line-height: 38px;
  }

  .heading4 {
    font-size: 26px;
    line-height: 32px;
  }

  .heading5 {
    font-size: 22px;
    line-height: 28px;
  }

  .heading6 {
    font-size: 18px;
    line-height: 26px;
  }

  .button-main {
    padding: 12px 24px;
    border-radius: 10px;
  }
}

@media (max-width: 767.98px) {
  html,
  body,
  div,
  span,
  p {
    font-size: 14px;
    line-height: 24px;
  }

  .text-sub-display {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.1px;
  }

  .text-display {
    font-size: 24px;
    line-height: 30px;
  }

  .heading1 {
    font-size: 24px;
    line-height: 32px;
  }

  .heading2 {
    font-size: 22px;
    line-height: 30px;
  }

  .heading3 {
    font-size: 20px;
    line-height: 28px;
  }

  .heading4 {
    font-size: 18px;
    line-height: 28px;
  }

  .heading5 {
    font-size: 16px;
    line-height: 26px;
  }

  .heading6 {
    font-size: 16px;
    line-height: 24px;
  }

  .text-title {
    font-size: 14px;
    line-height: 20px;
  }

  .body1 {
    font-size: 16px;
    line-height: 26px;
  }

  .text-button {
    font-size: 14px;
    line-height: 24px;
  }

  .text-button-uppercase {
    font-size: 12px;
    line-height: 16px;
  }

  .caption1 {
    font-size: 13px;
    line-height: 20px;
  }

  .button-main {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 16px;
    border-radius: 8px;
  }
}
