.containerrr {
  /* width: 945px; */
  margin: 0 auto;
  position: relative;
}
/********************** Effect 1 *************************/
.effect1 img {
  width: 100%;
  max-width: 300px;
}
.effect1 {
  position: relative;
  float: left;
  display: inline-block;
  /* margin-right: 1.5%; */
}
.effect1:before {
  content: "";
  /* left: 50%; */
  position: absolute;
  margin-left: -215px;
  width: 100%;
  height: 100%;
  transition: 0.4s EASE ALL;
}
.effect1:hover:before {
  content: "";
  background: #000;
  transform: scale(1);
  opacity: 0.6;
  text-align: center;
  color: #fff;
  font-size: 25px;
  left: 50%;
  position: absolute;
  margin-left: -150px;
  background-image: url(http://a.dryicons.com/images/icon_sets/luna_grey_icons/png/128x128/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/********************** Effect 2 *************************/
.effect2 img {
  width: 100%;
  max-width: 300px;
}
.effect2 {
  position: relative;
  display: inline-block;
  margin-right: 1%;
}
.effect2:before {
  content: "";
  left: 50%;
  position: absolute;
  margin-bottom: -215px;
  width: 100%;
  height: 99%;
  transition: 0.4s EASE ALL;
}
.effect2:hover:before {
  content: "";
  background: #000;
  transform: scale(1);
  opacity: 0.6;
  text-align: center;
  color: #fff;
  font-size: 25px;
  left: 50%;
  position: absolute;
  margin-left: -150px;
  background-image: url(http://a.dryicons.com/images/icon_sets/luna_grey_icons/png/128x128/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/********************** Effect 3 *************************/
.effect3 img {
  width: 100%;
  max-width: 300px;
}
.effect3 {
  position: relative;
  display: inline-block;
}
.effect3:before {
  content: "";
  left: 50%;
  left: 50%;
  position: absolute;
  margin-left: -150px;
  transform: scale(0.3);
  width: 100%;
  height: 99%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s EASE ALL;
}
.effect3:hover:before {
  content: "";
  background: #000;
  transform: scale(1);
  opacity: 0.6;
  text-align: center;
  color: #fff;
  font-size: 25px;
  margin-top: 0;
  background-image: url(http://a.dryicons.com/images/icon_sets/luna_grey_icons/png/128x128/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/********************** Effect 4 *************************/
.effect4 {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
}
.effect4 img {
  max-width: 100%;
}
.effect4 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 40px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  top: 0;
}
.effect4:hover a {
  background-color: rgba(200, 10, 10, 0.4);
  visibility: visible;
  height: 20%;
  padding: 40% 0;
  opacity: 1;
}
/********************** Effect 5 *************************/
.effect5 {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
}
.effect5 img {
  max-width: 100%;
}
.effect5 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 40px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 3px;
}
.effect5:hover a {
  background-color: rgba(100, 0, 120, 0.4);
  visibility: visible;
  height: 16%;
  padding: 42% 0;
  opacity: 1;
}
/********************** Effect 6 *************************/
.effect6 {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
}
.effect6 img {
  max-width: 100%;
}
.effect6 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 40px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 150px;
  transform: scale(0.3);
}
.effect6:hover a {
  background-color: rgba(20, 20, 100, 0.4);
  visibility: visible;
  height: 40%;
  padding: 30% 0;
  opacity: 1;
  bottom: 3px;
  transform: scale(1);
}
/********************** Effect 7 *************************/
.effect7 {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
}
.effect7 img {
  max-width: 100%;
}
.effect7 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 40px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 150px;
  transform: scale(0.3);
  transform: rotate(-180deg);
}
.effect7:hover a {
  background-color: rgba(190, 120, 130, 1);
  visibility: visible;
  height: 20%;
  padding: 40.1% 0;
  opacity: 1;
  bottom: 3px;
  transform: scale(1);
  transform: rotate(0deg);
  text-decoration: overline underline;
}
/********************** Effect 8 *************************/
.effect8 {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
}
.effect8 img {
  max-width: 100%;
}
.effect8 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 40px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 150px;
  transform: scale(0.3);
  transform: rotate(180deg);
}
.effect8:hover a {
  background-color: rgba(240, 160, 140, 1);
  visibility: visible;
  height: 20%;
  padding: 40.1% 0;
  opacity: 1;
  bottom: 3px;
  transform: scale(1);
  transform: rotate(0deg);
}
/********************** Effect 9 *************************/
.effect9 {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
}
.effect9 img {
  max-width: 100%;
}
.effect9 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 40px;
  height: 0px;
  position: absolute;
  left: 0;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 150px;
  transform: scale(0.3);
  transform: rotate(-720deg);
}
.effect9:hover a {
  background-color: rgba(120, 160, 230, 1);
  visibility: visible;
  height: 20%;
  padding: 40.1% 0;
  opacity: 1;
  bottom: 3px;
  transform: scale(1);
  transform: rotate(0deg);
}
/********************** Effect 10 *************************/
.effect10 {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.effect10 img {
  transform: scale(1.5);
  max-width: 100%;
  transition: 0.5s ease all;
}
.effect10 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: 20px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 200px;
  transform: scale(0.3);
}
.effect10:hover a {
  background: rgba(0, 0, 0, 0.337);
  visibility: visible;
  height: 100%;
  padding: 40.1% 0;
  opacity: 1;
  bottom: 3px;
  transform: scale(1);
  text-shadow: -0 -1px 1px #000000, 0 -1px 1px #000000, -0 1px 1px #000000,
    0 1px 1px #000000, -1px -0 1px #000000, 1px -0 1px #000000,
    -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000,
    1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000,
    -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000,
    1px 1px 1px #000000;
}
.effect10:hover img {
  transform: scale(1);
}
/********************** Effect 11 *************************/
.effect11 {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.effect11 img {
  transform: scale(1);
  max-width: 100%;
  transition: 0.5s ease all;
}
.effect11 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 28px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 150px;
  transform: scale(0.3);
}
.effect11:hover a {
  background: rgba(0, 0, 0, 0);
  visibility: visible;
  left: 0;
  height: 0%;
  padding: 50.1% 0;
  opacity: 1;
  bottom: 3px;
  transform: scale(1);
  /* text-shadow: -0 -1px 1px #000000, 0 -1px 1px #000000, -0 1px 1px #000000,
    0 1px 1px #000000, -1px -0 1px #000000, 1px -0 1px #000000,
    -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000,
    1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000,
    -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000,
    1px 1px 1px #000000; */
}
.effect11:hover img {
  transform: scale(1.5);
}
/********************** Effect 12 *************************/
.effect12 {
  float: left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.effect12 img {
  transform: scale(1);
  max-width: 100%;
  transition: 0.5s ease all;
  transform: rotate(-360deg);
}
.effect12 a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 25px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 150px;
  transform: scale(0.3);
}
.effect12:hover a {
  background: rgba(0, 0, 0, 0.462);
  visibility: visible;
  height: 100%;
  padding: 40.1% 0;
  opacity: 1;
  bottom: 3px;
  transform: scale(1);
  text-shadow: -0 -1px 1px #000000, 0 -1px 1px #000000, -0 1px 1px #000000,
    0 1px 1px #000000, -1px -0 1px #000000, 1px -0 1px #000000,
    -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000,
    1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000,
    -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000,
    1px 1px 1px #000000;
}
.effect12:hover img {
  transform: scale(1.5);
  transform: rotate(0deg);
}
.profile-sidebar{
  background-color:white !important;
  color: #e26178 !important;
  border: solid 1px #e26178 !important;
}

/********************** Effect 14 *************************/
.effect14 {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 1.5%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.effect14 img {
  transform: scale(1);
  max-width: 100%;
  transition: 0.5s ease all;
}
.effect14 a {
  text-decoration: none;
  color: #f03b5c;
  width: 100%;
  text-align: center;
  font-size: 28px;
  height: 0px;
  position: absolute;
  transition: 0.5s ease all;
  visibility: hidden;
  opacity: 0;
  bottom: 150px;
  transform: scale(0.3);
}
.effect14:hover a {
  background: rgba(0, 0, 0, 0);
  visibility: visible;
  left: 0;
  height: 0%;
  padding: 50.1% 0;
  opacity: 1;
  bottom: 3px;
  transform: scale(1);
  /* text-shadow: -0 -1px 1px #000000, 0 -1px 1px #000000, -0 1px 1px #000000,
    0 1px 1px #000000, -1px -0 1px #000000, 1px -0 1px #000000,
    -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000,
    1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000,
    -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000,
    1px 1px 1px #000000; */
}
.effect14:hover img {
  transform: scale(1.5);
}

.product-card {
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.product-card img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 8px;
  border-radius: 8px;
}

.product-card .product-info {
  text-align: center;
  padding: 8px;
}

.product-card .product-info h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.product-card .product-info .price {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #555;
}

.product-card .product-info .price .discount {
  color: #ff5252;
  margin-left: 8px;
}

.product-card .product-info .rating {
  margin-top: 8px;
  color: #ffc107;
}

.product-card .product-info .rating .star {
  font-size: 14px;
}
